{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Investment App">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme|Murecho">
    <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}" >

    <title>New User Registration</title>
    <style>
      *{box-sizing:border-box; margin: 0; padding: 0;}
      a{text-decoration: none; color:inherit;}
      body{font-family:Murecho, sans-serif;}
      ul{list-style: none}

      .img{text-align: center;margin-top: 5px;}
      .title{text-align:center;font-size: 1.5rem; margin:50px auto;font-family: Acme,sans-serif;}
      .msg{width:60%; text-align:center;margin:10px auto;}

    </style>
  </head>
  <body>
    <div class="img"><img src="{% static 'home/logo.png' %}" style="height:120px"></div>
  	<p class="title">Check your inbox</p>
    <p class="msg">We have emailed you instructions for re-setting your password. You should receive email shortly if your email exists!</p>

	
  </body>
</html>

